@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer components {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .inter-fonts {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
    /* navbar done by Tailwind css */

    /* Hero section */
    .hero-container {
        width: 100%;
        background-image: url(../assets/hero-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box-1, .box-2 {
        position: relative;
    }
    .mic {
        z-index: 1;
    }
    .mic {
        margin-top: 180px;
        margin-left: 215px;
        width: 200px;
        height: 200px;
    }
    .bg-mic {
        margin-left: 100px;
        margin-top: -280px;
        width: 350px;
        height: 350px;
    }
    .badge {
        position: relative;
        top: -320px;
        left: 360px;
        background-color: #00FF88;
        color: #1A0B2E;
        font-size: 12px;
        font-weight: 600;
        padding: 6px 12px;
        border-radius: 20px;
    }
    .microphone {
        margin-right: 100px;
        margin-bottom: 20px;
    }
    .hero-container h1{
        color: #FFFFFF;
        font-style: Extra Bold;
        font-size: 3.8rem;
        font-weight: 800;
        line-height: 73px;
        text-align: center;
        margin-bottom: 8px;
    }
    .hero-container p {
        color: #FFFFFF;
        font-family: Inter;
        font-size: 1rem;
        font-weight: 400;
        line-height: 19px;
        text-align: center;
        opacity: 0.8;
        margin-bottom: 24px;
    }
    .btn-group {
        display: flex;
        gap: 8px;
        justify-content: center;
        margin-bottom: 101px;
    }
    .btn{
        display: flex;
        padding: 14px 28px;
        border-radius: 50px;
        font-weight: 600;
    }
    .spotify {
        margin-right: 10px;
    }
    .btn-primary {
        border: none;
        cursor: pointer;
        color: white;
        background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    }
    .message {
        margin-right: 10px;
    }
    .btn-secondary {
        color: #00FF88;
        font-style: bold;
        cursor: pointer;
        border: 1px solid #00FF88;
        border-radius: 50px;
    }

    /* Podcast Section */
    .podcast-container {
        padding-top: 50px;
        margin-top: -15px;
        background: #1A0B2E;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .podcast-info {
        max-width: 730px;
    }
    .podcast-info h1 {
        color: #FFFFFF;
        font-style: Bold;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.7rem;
        text-align: center;
        margin-bottom: 16px;
    }
    .podcast-info p {
        width: 700px;
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.2rem;
        text-align: center;
        line-height: 2;
        opacity: 0.8;
        margin-bottom: 80px;
    }
    .line {
        width: 1140px;
        height: 1px;
        background: #FFFFFF;
        opacity: 0.1;
        margin-bottom: 50px;
    }
    .stat-container {
        display: flex;
        gap: 50px;
        margin-bottom: 80px;
    }
    .stat-cards {
        width: 240px;
        height: 58px;
    }
    .stats {
        color: #00FF88;
        font-style: Black;
        font-size: 3rem;
        font-weight: 900;
        line-height: 3.7rem;
        text-align: center;
    }
    .stat-cards p {
        margin-top: 16px;
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2rem;
        text-align: center;
        text-transform: uppercase;
        opacity: 0.8;
        
    }
    /* Why Choose TechWave section done by Tailwind css */

    /* Media Query */
    @media screen and (max-width: 576px) {
        .podcast-container {
            padding-top: 50px;
            margin-top: -50px;
        }
        .podcast-info h1{
            font-size: 2rem;
            font-weight: 700;
            line-height: 2.4;
        }
        .podcast-info p {
            max-width: 400px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2rem;
        }
        .line {
            width: 440px;
        }
        .stat-cards {
            width: 180px;
            height: 84px;
        }
        .stat-container {
            max-width: 476px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}


