@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer components {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .inter-fonts {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
    .navbar {
        border-bottom: 1px solid #281f34;
    }

    /* Hero section */
    .hero-container {
        width: 100%;
        /* height: 100%; */
        background-image: url(../assets/hero-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box-1, .box-2 {
        position: relative;
    }
    .mic {
        z-index: 1;
    }
    .mic {
        margin-top: 180px;
        margin-left: 215px;
        width: 200px;
        height: 200px;
    }
    .bg-mic {
        margin-left: 100px;
        margin-top: -280px;
        width: 350px;
        height: 350px;
    }
    .badge {
        position: relative;
        top: -320px;
        left: 360px;
        background-color: #00FF88;
        color: #1A0B2E;
        font-size: 12px;
        font-weight: 600;
        padding: 6px 12px;
        border-radius: 20px;
    }
    .microphone {
        margin-right: 100px;
        margin-bottom: 20px;
    }
    .hero-container h1{
        color: #FFFFFF;
        font-style: Extra Bold;
        font-size: 60px;
        font-weight: 800;
        line-height: 73px;
        text-align: center;
        /* margin-left: 100px; */
        margin-bottom: 8px;
    }
    .hero-container p {
        color: #FFFFFF;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: center;
        /* margin-left: 100px; */
        opacity: 0.8;
        margin-bottom: 24px;
    }
    .btn-group {
        display: flex;
        gap: 8px;
        justify-content: center;
        /* margin-left: 100px; */
        margin-bottom: 101px;
    }
    .btn{
        display: flex;
        padding: 14px 28px;
        border-radius: 50px;
        font-weight: 600;
        cursor: pointer;
    }
    .spotify {
        margin-right: 10px;
    }
    .btn-primary {
        border: none;
        color: white;
        background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    }
    .message {
        margin-right: 10px;
    }
    .btn-secondary {
        color: #00FF88;
        font-style: bold;
        border: 1px solid #00FF88;
        border-radius: 50px;
    }

    /* Podcast Section */

    @media screen and (max-width: 576px) {
    }
}


